body {
	font-family: century gothic;
	color: #14a9e3;
	background-image: url('../img/poza1.jpg');
	background-attachment: fixed;
	background-size: cover;
}

h1 {
	color: white;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	background-color: #14a9e3;
	color: white;
	border: 1px solid black;
}

.section {
	width: 100%;
	min-height: 100%;
	text-align: center;
}

#section0 {	
	background-color: #14a9e3;
}

#section0-image {
	z-index: 1;
	background-image: url('../img/poza1.jpg');
    background-position: center; 
	width: 100%;
	height: 100%;
	animation-name: fade-in;
    animation-duration: 5s;
	-webkit-animation-name: fade-in;
    -webkit-animation-duration: 5s;
}

.padding-container-50 {
	padding: 50px;
}

.padding-container-relative {
	padding: 10%;
}


#section1 {
	background-size: cover;
}

.obiect {
	margin-top: -10000px;

	transition: margin-top 2s;
	-webkit-transition: margin-top: 2s;
	-o-transition: margin-top: 2s;
	-moz-transition: margin-top: 2s;
	border-radius: 15px;
	min-height: 400px;
	box-shadow: 0 0 30px cyan;
}

#obiect-gri {
	background-color: rgba(80, 80, 80, 0.75);
}

#obiect-gri-inchis {
	background-color: #444444;
}

@keyframes fade-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit keyframes fade-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#section2 {	
	background-color: white;
}

#section2>.padding-container-50>h1 {
	color: gray;
}

.produs-img {
	height: 80px;
	box-shadow: 0 0 30px #14a9e3;
	border-radius: 5px;
}

#section3 {	
	background-image: url('../img/poza3.jpg');
	background-size: cover;
}

#contact {
	width: 100%;
	padding: 55px;
	background-color: #444444;	
	text-align: center;
}

#logo {
	height: 40px;
	margin-top: -10px;
}